# MediaPipe models
src/smile/recognition/models/*.tflite filter=lfs diff=lfs merge=lfs -text
src/smile/recognition/models/*.task filter=lfs diff=lfs merge=lfs -text
# UI resources
src/smile/resources/icons/*.png binary
src/smile/resources/images/*.png binary
# Doc resources
docs/images/*.png binary
# Global setup for known binaries
*.png binary
*.jpg binary
*.jpeg binary
*.tflite filter=lfs diff=lfs merge=lfs -text
*.task filter=lfs diff=lfs merge=lfs -text
src/smile/recognition/models/blaze_face_short_range.tflite filter=lfs diff=lfs merge=lfs -text
src/smile/recognition/models/face_landmarker.task filter=lfs diff=lfs merge=lfs -text
